@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
    width: 100%;
}

#div-detail {
    padding-left: 12%;
    padding-right: 12%;
}