@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;600;700&display=swap');

html{
    scroll-behavior: smooth;
}

body {
    width: 100%;
}

.banner {
    background-image: url('../../images/karsten-winegeart-GQwrgMgJDhk-unsplash.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.navbar-brand {
    font-family: 'Righteous', cursive;
    font-size: 28px;
    color: #292929;
    padding: 0 13px 0 13px;
}

#banner-group-text {
    margin-top: 12%;
}

#banner-title {
    font-family: 'Raleway', sans-serif;
    color: #292929;
    font-weight: 700;
    font-size: 80px;
}

#banner-title>span {
    color: #42b4d4;
}

#banner-group-text>p {
    font-family: 'Raleway', sans-serif;
    color: #666666;
    font-size: 27px;
    font-weight: 200;
}

.nav-link {
    color: #7d7d7d;
}

.nav-link:hover {
    color: #c59308;
}

#banner-group-text > a{
    position: absolute;
    height: 4.5em;
    width: 3em;
    border: 3px solid #fff;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 6em;
    border-radius: 3em;
}

#banner-group-text > a:before{
    position: absolute;
    content: "";
    margin: auto;
    left: 0;
    right: 0;
    height: 13px;
    width: 13px;
    background-color: #42b4d4;
    border-radius: 50%;
    animation: move-down 2s infinite;
}

@keyframes move-down{
    80%{
        opacity: 0.5;
    }
    100%{
        transform: translateY(3.1em);
        opacity: 0;
    }
}

#banner-group-text>a:after{
    position: absolute;
    content: "ENTER";
    width: 12em;
    display: block;
    width: 12em;
    text-align: center;
    left: -4.4em;
    bottom: -2.7em;
    font-size: 1em;
    color: #42b4d4;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
}

.form-label{
    font-size: 14px;
}

.form-control{
    font-size: 14px;
    font-weight: 200;
    padding-left: 20px;
    background-color: #f7f7f7;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#div-login{
    padding: 5%;
    font-family: 'Raleway', sans-serif;
}

#div-login > form{
    width: 700px;
    margin: auto;
    margin-top: 7%;
}

.card{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}

#btn-submit{
    background-color: #42b4d4;
    font-size: 14px;
    padding: 7px 20px;
}