@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;600;700&display=swap');


body {
    font-family: 'Raleway', sans-serif;
}

.navbar-brand {
    font-weight: 600;
}

.navbar-brand>span {
    color: #42b4d4;
}

.nav-link {
    color: #292929;
}

.nav-link:hover {
    color: #42b4d4;
}

#div-content {
    width: 100%;
    height: fit-content;
    background-color: #f7f7f7;
}